# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=0.8
tortilla>=0.4.1
Jinja2>=2.7.3
Sphinx>=1.2.3
docopt>=0.6.2
simplejson>=3.8.1
requests>=2.9.1

# Python3 compat
future>=0.15.2
configparser>=3.3.0; python_version < '3'
