#!/usr/bin/make -f

export PYBUILD_NAME=redfish
export DH_VERBOSE=1
#export PYBUILD_DISABLE=install

%:
		dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild
		cd doc ; make man ; make singlehtml ; make latexpdf

PYPI_DESC = PBSUMMARY
DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
	help2man = PYTHONPATH=${CURDIR} help2man -N --version-string=${DEB_UPSTREAM_VERSION} \
					-o $1 -n '$2' $(CURDIR)/debian/PBPKG/usr/bin/$(subst .1,,$1)
